<%- include("partials/top") %>
  <title>Battle</title>
  </head>

  <body>
    <%- include("partials/header") %>
      <main id="battleMain2">
        <div class="gridEnemy">
          <div class="EnemyHP">
            <h3 class="battleName">
              <%= enemyPokemon.name %>
            </h3>
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0"
              aria-valuemax="100">
              <p class="textBeforeHP">HP </p>
              <div id="progressB" class="progress-bar bg-success" style="width: 100%"></div>
            </div>
          </div>
          <div class="EnemyPokemon">
            <img id="enemySprite" src=<%=enemyPokemon.front_default %> alt="">
          </div>
        </div>

        <div class='gridAlly'>
          <div class="AllyHP">
            <h3 class="battleName">
              <%= pokemon.name %>
            </h3>
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0"
              aria-valuemax="100">
              <p class="textBeforeHP">HP </p>
              <div id="progressA" class="progress-bar bg-success" style="width: 100%"></div>
            </div>
          </div>
          <div class="AllyPokemon">
            <img id="mySprite" src=<%=pokemon.back_default %> alt="">
          </div>
        </div>

        <div class="infoBattle">
          <p id="battleMessage">Hallo <%= user.userName %>! Je gevecht met <%= pokemon.name %> tegen <%=
                  enemyPokemon.name %> gaat van start! Kies een optie! </p>
        </div>

        <div class="commands">
          <button type="button" class="attack btn">Aanvallen</button>
          <button type="button" class="catch btn">Vangen</button>
          <a href="/mainpage" type="button" class="run btn">Wegrennen</a>
        </div>


      </main>
      <script>
        document.addEventListener("DOMContentLoaded", () => {
          const attackButton = document.querySelector(".attack");
          const catchButton = document.querySelector(".catch");



          attackButton.addEventListener("click", async () => {
            console.log("clicked attack");
            try {
              // Make a POST request to the backend route to handle attacks
              const urlPath = window.location.pathname;
              const battleId = urlPath.split("/").pop();


              const response = await fetch(`/battle/${battleId}`, {
                method: "POST",
                headers: {
                  "Content-Type": "application/json"
                },
                body: JSON.stringify({
                  attack: { /* Information about the user's Pokémon */ }

                })
              });

              // Check if the request was successful
              if (response.ok) {
                // Parse the response JSON
                const updated = await response.json();
                console.log(updated);

                console.log(`Other Pokémon HP: ${updated.turn2.otherPokemon.health}`);
                console.log(`My Pokémon HP: ${updated.turn2.myPokemon.health}`);

                const remainingA = (updated.turn2.otherPokemon.health / updated.turn2.otherPokemon.maxHealth) * 100;
                const remainingB = (updated.turn2.myPokemon.health / updated.turn2.myPokemon.maxHealth) * 100;



                // Update HP values on the page

                document.getElementById("progressA").style = `width: ${remainingA}%`;
                document.getElementById("progressB").style = `width: ${remainingB}%`;


                document.getElementById("battleMessage").textContent = `${updated.turn2.otherPokemon.name} heeft ${updated.turn2.myPokemon.name} ${updated.turn1.damage} schade gegeven en  ${updated.turn1.otherPokemon.name} heeft ${updated.turn1.myPokemon.name} ${updated.turn2.damage} gegeven schade. `
                if (updated.turn2.otherPokemon.health <= 0 || updated.turn2.myPokemon.health <= 0) {
                  attackButton.disabled = true;
                  catchButton.disabled = true;
                  document.getElementById("battleMessage").append(`Gevecht voorbij! Je hebt ${updated.turn2.myPokemon.name} kunnen vangen door hem verslaan `);
                }

              } else {
                console.error("Attack failed:", response.statusText);
              }
            } catch (error) {
              console.error("Error attacking:", error);
            }
          });
          catchButton.addEventListener("click", async () => {
            console.log("Catch clicked");
            try {
              urlPath = window.location.pathname;
              battleId = urlPath.split("/").pop();

            } catch (error) {
              console.error("Error catching:", error);
            }
            const response = await fetch(`/battle/${battleId}`, {
              method: "POST",
              headers: {
                "Content-Type": "application/json"
              },
              body: JSON.stringify({
                catch: { /* Information about the user's Pokémon */ }

              })
            });

            if (response.ok) {
              // Parse the response JSON
              const updated = await response.json();


              console.log(`${updated.catched}`);


              if (updated.catched) {
                document.getElementById("battleMessage").textContent = `Je hebt de pokemon kunnen vangen!`
                attackButton.disabled = true;
                catchButton.disabled = true;
              }
              else {
                document.getElementById("battleMessage").textContent = `De pokemon is kunnen ontsnappen! `
                
              }



              // Update HP values on the page

            } else {
              console.error("Attack failed:", response.statusText);
            }




          });
        });





      </script>
      <%- include("partials/bottom") %>