<%- include("partials/top") %>
    <title>Compare</title>
</head>

<body id="compare">
    <%- include("partials/header") %>
        <div class="pokemonCompare">
            <section class="yourPokemon">
                <p class="comparePokemonName"><%- pokemon.name %></p>
                <img class="pokemonCompareIMG" src="<%- pokemon.front_default %>" alt="">
                <section class="sectionPokemonCompare">
                    <p>Levenspunten: 
                        <span class="<%= pokemon.health > pokemonCompare.health ? 'stat-higher' : 'stat-lower' %>">
                            <%- pokemon.health %>
                        </span>
                    </p>
                    <p>Aanval: 
                        <span class="<%= pokemon.attack > pokemonCompare.attack ? 'stat-higher' : 'stat-lower' %>">
                            <%- pokemon.attack %>
                        </span>
                    </p>
                    <p>Verdediging: 
                        <span class="<%= pokemon.defense > pokemonCompare.defense ? 'stat-higher' : 'stat-lower' %>">
                            <%- pokemon.defense %>
                        </span>
                    </p>
                </section>
            </section>
        
            <section class="otherPokemon">
                <p class="comparePokemonName">
                    <img src="<%- pokemonCompare.icon %>" alt=""> <%- pokemonCompare.name %>
                </p>
                <img class="pokemonCompareIMG" src="<%- pokemonCompare.front_default %>" alt="<%- pokemonCompare.name %>">
                <section class="sectionPokemonCompare">
                    <p>Levenspunten: 
                        <span class="<%= pokemonCompare.health > pokemon.health ? 'stat-higher' : 'stat-lower' %>">
                            <%- pokemonCompare.health %>
                        </span>
                    </p>
                    <p>Aanval: 
                        <span class="<%= pokemonCompare.attack > pokemon.attack ? 'stat-higher' : 'stat-lower' %>">
                            <%- pokemonCompare.attack %>
                        </span>
                    </p>
                    <p>Verdediging: 
                        <span class="<%= pokemonCompare.defense > pokemon.defense ? 'stat-higher' : 'stat-lower' %>">
                            <%- pokemonCompare.defense %>
                        </span>
                    </p>
                </section>
            </section>
        </div>
<%- include("partials/bottom") %>