<%- include("partials/top") %>
    <title>Compare</title>
</head>

<body id="compare">
    <%- include("partials/header") %>
        <div class="pokemonCompare">
            <section class="yourPokemon">
                <p class="comparePokemonName">Mijn pokemon</p>
                <img class="pokemonCompareIMG" src="assets/img/Placeholder-Pikachu.png" alt="">
                <section class="sectionPokemonCompare">
                    <p>Levenspunten: 50</p>
                    <p>Aanval: 80</p>
                    <p>Verdediging: 60</p>
                </section>
            </section>
        
            <section class="otherPokemon">
                <p class="comparePokemonName"><%- pokemon.name %></p>
                <img class="pokemonCompareIMG" src="<%- pokemon.sprite %>" alt="">
                <section class="sectionPokemonCompare">
                    <p>Levenspunten: <%- pokemon.health %></p>
                    <p>Aanval: <%- pokemon.attack %></p>
                    <p>Verdediging: <%- pokemon.defense %></p>
                </section>
            </section>
        </div>
<%- include("partials/bottom") %>