<%- include("partials/top") %>
    <title>APMon</title>
</head>
<body id="pokeDex">
<%- include("partials/header") %>
 <!--
    <nav>
        <input id="searchBar" type="text" placeholder="Search..">
    </nav>
    
    <aside>
        <ul>
            <li id="charmander">01 <img src="assets/img/charmander.png" alt="Charmander">Charmander</li>
            <li>02<img src="assets/img/balbasaus.png" alt="Bulbasaur">Bulbasaur</li>
            <li>03<img src="assets/img/squirtle.png" alt="Squirtle">Squirtle</li>
            <li>04<img src="assets/img/Placeholder-Pikachu.png" alt="Pickachu">Pickachu</li>
            <li>05<img src="assets/img/Evee.png" alt="Evee">Evee</li>
            <li>06<img src="assets/img/kyogre.png" alt="Kyogre">Kyogre</li> 
            <li>07<img src="assets/img/Zapdos.png" alt="Zapdoss">Zapdoss</li> 
            
            <li>08<img src="assets/img/balbasaus.png" alt="Bulbasaur">Bulbasaur</li>
            <li>09<img src="assets/img/squirtle.png" alt="Squirtle">Squirtle</li>
            <li>10<img src="assets/img/Placeholder-Pikachu.png" alt="Pickachu">Pickachu</li>
            <li>11<img src="assets/img/Evee.png" alt="Evee">Evee</li>
            <li>12<img src="assets/img/kyogre.png" alt="Kyogre">Kyogre</li> 
            <li>13<img src="assets/img/Zapdos.png" alt="Zapdoss">Zapdoss</li> 
        </ul>
    </aside>
-->

    <main>
        <div class="mainContentPokedex">

        <div class="InfoPokemonPokedex">
            
        <img class="selectedPokemonPokedex" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/149.png" alt="">
        <section class="pokedexDescription">
            <p class="pokedexNameDescription">Charmander:</p>
            <p class="pokedexDescriptionText">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. </p>
        </section>
        <div class="pokedexBottom">
         <button class="PokedexBottomButtons"><a href="compare"> Compare</a></button>
         <button class="PokedexBottomButtons"><a href="mainpage">Terug</a></button>
        </div>
    </div>

    <div class="PokedexList">
        <table>
            <tbody>
                <% for (let pokemon of data) { %>
                    <tr>
                        <td><%- pokemon.id %></td>
                     <!--  <td> <img class="pokedexSprite" src="<%- pokemon.sprite %>" alt=""></td> --> 
                        <td><a href="/pokedex/<%= pokemon.id %>"><%- pokemon.name %></a></td>
                        <td><%- pokemon.isCatched %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>


</div>
    </main>
<%- include("partials/bottom") %>