<%- include("partials/top") %>
<title>APMon</title>
</head>
<body id="pokeDex">
<%- include("partials/header") %>
<main class="pokedexMain">
    <div class="mainContentPokedex">
        <div class="InfoPokemonPokedex">
            <section class="pokedexNameSection">
                <p class="pokedexNameDescription"><%- pokemonDetail.id %>. <%- pokemonDetail.name %></p>            
            </section>    
            <img class="selectedPokemonPokedex" src="<%- pokemonDetail.front_default %>" alt="<%- pokemonDetail.name %>">
            <img class="selectedPokemonPokedex" src="<%- evolutionDetails.front_default %>" alt="<%- pokemonDetail.name %>">
            
            <% evolutionDetails.forEach(evolution => { %>
                <img class="selectedPokemonPokedex" src="<%- evolution.front_default %>" alt="<%- evolution.name %>">
            <% }) %>
            
            <section class="pokedexDescription">
                <p class="pokedexDescriptionText">TYPE: <%- pokemonDetail.types.join(', ') %></p>
                <p class="pokedexDescriptionText">LEVENSPUNTEN: <%- pokemonDetail.maxHealth %></p>
                <p class="pokedexDescriptionText">AANVALSPUNTEN: <%- pokemonDetail.attack %></p>
                <p class="pokedexDescriptionText">VERDEDIGINGSPUNTEN: <%- pokemonDetail.defense %></p>
                <p class="pokedexDescriptionText"><%- pokemonDetail.description %></p>
                <section class="evolutionSection">
                    <h4>Evolution Chain</h4>
                    <ul>
                        <% evolutionDetails.forEach(evolution => { %>
                            <li class="<%= evolution.isCurrent ? 'current' : '' %>">
                                <%= evolution.name.charAt(0).toUpperCase() + evolution.name.slice(1) %>
                            </li>
                        <% }) %>
                    </ul>
                </section>
            </section>
            <section class="evolutionSection">
                
            </section>
            <div class="pokedexBottom">
                <button class="PokedexBottomButtons"><a href="/mainpage">Partner</a></button>
                <button class="PokedexBottomButtons"><a href="/compare/<%= pokemonDetail.id %>">Vergelijken</a></button>
                <button class="PokedexBottomButtons"><a href="/pokedex">Terug</a></button>
            </div>
        </div>
    </div>
</main>
<%- include("partials/bottom") %>
