
<%- include("partials/top") %>
    <title>APMon</title>
</head>
<body id="pokeDex">
<%- include("partials/header") %>
    <main class="pokedexMain">
        <div class="mainContentPokedex">
            <div class="pokedexContainer">
                <div class="pokedexSearchAndFilter">
                    <form action="/pokedex" method="GET">
                        <input type="text" placeholder="zoek een pokemon" name="searchInput" id="searchInput">
                        <button type="submit" name="action" value="search">Zoeken</button>
                        <button style="margin-left: 2rem;" type="submit" name="action" value="sort">Catched</button>
                    </form>
                </div>
                <div class="pokedexList">
                    <% for (let pokemon of data) { %>
                        <div class="pokemonCard">
                            <a href="/pokedex/<%= pokemon.id %>">
                                <img class="pokemonImage" src="<%- pokemon.front_default %>"  alt="">
                                <p class="pokemonName"><%- pokemon.name %></p>
                                <% if (pokemon.isCatched) { %>
                                    <div class="statusIndicator">
                                        <div class="rounded-circle bg-success statusIcon"></div>
                                    </div>
                                <% } else { %>
                                    <div class="statusIndicator">
                                        <div class="rounded-circle bg-danger statusIcon"></div>
                                    </div>
                                <% } %> 
                            </a>
                        </div>
                    <% } %>
                </div>
                <div class="pokedexBottom">
                    <button class="PokedexBottomButtons"><a href="/mainpage">Terug</a></button>
                </div>
            </div>


</div>
    </main>
<%- include("partials/bottom") %>
