
<%- include("partials/top") %>
    <title>APMon</title>
</head>
<body id="pokeDex">
<%- include("partials/header") %>
    <main class="pokedexMain">
        <div class="mainContentPokedex">
            <div class="pokedexContainer">
                <div class="pokedexSearchAndFilter">
                    <form action="/pokedex" method="GET">
                        <input type="text" placeholder="zoek pokemon" name="search" id="searchInput">
                        <button type="submit">Zoeken</button>
                    </form>
                </div>
                <div class="pokedexList">
                    <% for (let pokemon of user.userPokemons) { %>
                        <div class="pokemonCard">
                            <a href="/pokedex/<%= pokemon.id %>">
                                <img class="pokemonImage" src="<%- pokemon.icon %>"  alt="">
                                <p class="pokemonName"><%- pokemon.name %></p>
                                <% if (pokemon.isCatched) { %>
                                    <div class="statusIndicator">
                                        <div class="rounded-circle bg-success statusIcon"></div>
                                    </div>
                                <% } else { %>
                                    <div class="statusIndicator">
                                        <div class="rounded-circle bg-danger statusIcon"></div>
                                    </div>
                                <% } %> 
                            </a>
                        </div>
                    <% } %>
                </div>
            </div>


</div>
    </main>
<%- include("partials/bottom") %>
