
<%- include("partials/top") %>
    <title>APMon</title>
</head>
<body id="pokeDex">
<%- include("partials/header") %>
    <main class="pokedexMain">
        <div class="mainContentPokedex">

         <div class="PokedexName">
         </div>   

         <div class="pokedexSearchAndFilter">
            <form action="/action_page.php">
              <input type="text" placeholder="Zoeken.." name="search">
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>

        <div class="InfoPokemonPokedex">
            
            <section class="pokedexNameSection">
                <p class="pokedexNameDescription"><%- fixedPokemon.id %>.<%- fixedPokemon.name %></p>            
            </section>    
            <img class="selectedPokemonPokedex"  src="<%- fixedPokemon.sprite %>" alt="">
        <section class="pokedexDescription">
            <p class="pokedexDescriptionText"><%- fixedPokemon.description %></p>
        </section>
        <div class="pokedexBottom">
         <button class="PokedexBottomButtons"><a href="/compare"> Compare</a></button>
         <button class="PokedexBottomButtons"><a href="/mainpage">Terug</a></button>
        </div>
    </div>

    <div class="PokedexList">
        <table>
            <tbody>
                <% for (let pokemon of data) { %>
                    <tr>
                        <td><%- pokemon.id %></td>
                     <!--  <td> <img class="pokedexSprite" src="<%- pokemon.sprite %>" alt=""></td> --> 
                        <td><a href="/pokedex/<%= pokemon.id %>"><%- pokemon.name %></a></td>
                        <td><%- pokemon.isCatched %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>


</div>
    </main>
<%- include("partials/bottom") %>