<%- include("partials/top") %>
<title>Signup</title>
</head>

<body class="no-grid-layout">
  <main class="mainSignup">
    <form class="signupform" action="/signup" method="POST">
      <div class="signupTitle">
        <h3>Account aanmaken</h3>
      </div>

      <div class="avatarSelection">
        <h3 class="starterAvatarText">Kies een avatar:</h3>
        <div class="avatarOptions">
          <label>
            <input type="radio" name="icon" value="https://raw.githubusercontent.com/EdisonTsang/jsonHost/main/X-headshot.jpg" required>
            <img class="avatarImg" src="https://raw.githubusercontent.com/EdisonTsang/jsonHost/main/X-headshot.jpg" alt="Avatar 1">
          </label>
          <label>
            <input type="radio" name="icon" value="https://raw.githubusercontent.com/EdisonTsang/jsonHost/main/Girl-headshot.jpg">
            <img class="avatarImg" src="https://raw.githubusercontent.com/EdisonTsang/jsonHost/main/Girl-headshot.jpg" alt="Avatar 2">
          </label>
          <label>
            <input type="radio" name="icon" value="https://raw.githubusercontent.com/EdisonTsang/jsonHost/main/Boy-headshot.jpg">
            <img class="avatarImg" src="https://raw.githubusercontent.com/EdisonTsang/jsonHost/main/Boy-headshot.jpg" alt="Avatar 3">
          </label>
        </div>
      </div>

      <h3 class="registerText">Vul je gegevens in:</h3>
      <input class="textField" type="email" name="emailInput" id="emailInput" placeholder="Vul email in" required>
      <input class="textField" type="text" name="usernameInput" id="usernameInput" placeholder="Kies een gebruikersnaam" required>
      <input class="textField" type="password" name="passwordInput" id="passwordInput" placeholder="Kies een wachtwoord" required>

      <div class="beginPokemon">
        <h3 class="starterPokemonText">Kies een begin pokemon:</h3>
        <label>
          <input type="radio" name="userPetId" value="1" required>
          <img class="beginPokemonImg" src="<%= sprites[0] %>" alt="Pokemon 1">
        </label>
        <label>
          <input type="radio" name="userPetId" value="4">
          <img class="beginPokemonImg" src="<%= sprites[1] %>" alt="Pokemon 2">
        </label>
        <label>
          <input type="radio" name="userPetId" value="7">
          <img class="beginPokemonImg" src="<%= sprites[2] %>" alt="Pokemon 3">
        </label>
      </div>

      <div>
        <button type="submit" class="loginSubmit">Account maken</button>
      </div>
    </form>
  </main>
<%- include("partials/bottom") %>