<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <% for (let field of sortFields) { %>
                    <th scope="col">
                        <a href="?sortField=<%= field.value %>&sortDirection=<%= field.value === sortField ? sortDirection === 'asc' ? 'desc' : 'asc' : 'asc' %>&search=<%= search %>">
                            <%= field.text %>
                            <% if (field.value === sortField) { %>
                                <%- sortDirection === 'asc' ? '▲' : '▼' %>
                            <% } %>
                        </a>
                    </th>
                <% } %>
            </tr>
        </thead>
        <tbody>
            <% for (let film of films) { %>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="mr-2">
                                <img src=<%- film.image_url %> alt="Icon" class="rounded-circle" style="width: 40px; height: 40px;">
                            </div>
                            <div><%- film.title %></div>
                        </div>
                    </td>
                    <td><%- film.release_date %></td>
                    <td><%- film.director.name %></td>
                    <td><%- film.genre %></td>
                    <td>
                        <% if (film.is_downloadable) { %>
                            <div class="text-center">
                                <div class="rounded-circle bg-success" style="width: 20px; height: 20px;"></div>
                            </div>
                        <% } else { %>
                            <div class="text-center">
                                <div class="rounded-circle bg-danger" style="width: 20px; height: 20px;"></div>
                            </div>
                        <% } %>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>